# «Библиотека Pandas»

**Задание 1**
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [18]:
import pandas as pd

In [64]:
data = pd.read_csv('ml-25m/ratings.csv')
data.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [63]:
joined[joined['rating'] == 5]['movieId'].value_counts().index[0]

318

**Задание 2**
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [23]:
power_data = pd.read_csv('power.csv')
power_data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [24]:
power_data[(power_data['year'] >= 2005) & 
           (power_data['year'] <= 2010) & 
           (power_data['quantity'] > 0) & 
           (power_data['category'].isin([4, 12, 21])) & 
           (power_data['country'].isin(['Latvia', 'Estonia', 'Lithuania']))]['quantity'].sum()

240580.0

**Задание 3**
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [38]:
pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', encoding='utf-8')[0]

,0,1,2,3,4,5,6,7,8,9,10,11
0,ММВБ,2 890,"-0,6%",Nasdaq,11 327,"1,4%",Биткойн,10 618,"-0,1%",USD/RUB,773060,"0,3%"
1,РТС,1 174,"-0,3%",S&P500,3 381,"0,5%",Нефть,404,"-0,9%",EUR/RUB,905945,"0,0%"
2,Dow,27 817,"0,1%",FTSE100,5 879,"0,2%",Золото,1 894,"-0,7%",EUR/USD,11719,"-0,2%"